@page "/"

@using TeamPenskeInterview.Components

@inject RaceScheduleViewModel ViewModel

<PageTitle>Race Sechedule</PageTitle>

<h1>Race Schedule</h1>
@code {
    protected override async Task OnInitializedAsync()
    {
        // Load schedules for the requested year
        await ViewModel.LoadSchedules(DateTime.Now.Year.ToString());  
    }
}

@if (ViewModel.IsLoading)
{
    <p><em>Loading Race Schedule...</em></p>
}
else if (!string.IsNullOrEmpty(ViewModel.ErrorMessage))
{
    <p>Error: @ViewModel.ErrorMessage</p>
}
else
{
    <table class="table">
        <thread>
            <tr>
                <th>Race Name</th>
                <th>Date</th>
                <th>Track</th>
                <th>Distance</th>
                <th>Laps</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var race in ViewModel.RaceSchedules)
            {
                <tr>
                    <td>@race.RaceName</td>
                    <td>@race.RaceDate.ToShortDateString()</td>
                    <td>@race.TrackName</td>
                    <td>@race.ScheduleDistance</td>
                    <td>@race.ScheduledLaps</td>
                </tr>
            }
        </tbody>
    </table>
}

@*
// catch only the exception I am worried about
// have t heui response in a easy way
// only catch the exceptions
    they all inherit from exception

catch everything and logg the exception errors
    failed to load data
menu back button compared to the browser back button

!!catch argument exception!!

*@